[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pytesseract = "*"
python-multipart = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
